@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;

}

html,
body {
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: #02577a;
    min-height: 100vh;
}

h1,
h2 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #02577a;
}

img {
    border-radius: 20px;
    width: 300px;
    height: 400px;
    object-fit: contain;
    padding-top: 20px;
    padding-bottom: 20px;
}

ol * {
    list-style-type: none;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 20px;
}

#menu {
    font-size: 100%;
    letter-spacing: 1px;

}

#menu,
#logo {
    line-height: 70px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;

}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.columns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    gap: 0.5rem;

}

@media screen and (max-width: 600px) {
    #logo{
        font-size:200%;
    }
     #menu  {
          font-size: 90%;
          letter-spacing: 0px;
 
     }
     #menu li {
     float: right;
     list-style-type: none;
     margin-right: 20px;
     }
  }
 
 
 @media (min-width: 600px) {
    .columns {
        flex-direction: row;
    }
 }

@media (min-width: 600px) {
    .card img {
        width: auto;
        height: 400px;
        object-fit: contain;
     }
}

.columns>* {
    flex-basis: 100%;
}

.card {
    padding: 1rem;
    display: inline-block;
   
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #e7fcfe;
    position: relative;
    margin: 1%;
}

.schedule-card {
    padding: 1rem;
    width: 100%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    background-color: #e7fcfe;
    position: relative;
    margin-bottom: 0.2%;
}

.schedule-card ul {
    padding: 1rem;
   }

.card {
    padding: 1rem;
    background: lightblue;
}

.card ul {
    padding: 1rem;
    
}

#flex_content {
    display: flex;
}

footer div {
    color: #02577a;
    padding-bottom: 5px;
}

#footer {
    position: relative;
    text-align: center;
    background-color: #e7fcfe;
    width: 100%;
    height: auto;
    clear: both;
}

.white-text {
    color: white;
}

.socialnetworks-links>li {
    display: inline;
}

.socialnetworks-links i {
    font-size: 170%;
    margin: 2%;
    color: #02577a;
}

.newsletter-form {
    background-image: url("../images/pexels-cottonbro-5474037-blue.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 900px;
    clear: both;
    position: relative;
}

.form-style {
    margin: 150px;
    padding: 35px;
    color: inherit;
    background-color: rgba(231, 252, 254, 0.9);
    max-width: 500px;
    position: absolute;
    left: 5%;
    border-radius: 5px;
}

.text-input {
    background: transparent;
    color: inherit;
    width: 100%;
    height: 25px;
    margin: 0px 0 5px 0;
    border: 1px solid #00719c;
    border-radius: 3px;
}

form h3,
p {
    padding: 20px 0 10px 0;
}

.style-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 100%;
    background-color: #e7fcfe;
    color: #00415a;
    display: inline-block;
    border: 1px solid #00415a;
}

.style-button:hover {
    background-color: #00415a;
    color: #e7fcfe;
}

@media screen and (max-width: 600px) {
    .form-style {
        margin: 20px;
        padding: 10px;
        color: inherit;
        background-color: rgba(231, 252, 254, 0.9);
        max-width: 566px;
        position: absolute;
        border-radius: 5px;
    }
}